
<div>
  <section id="search" class="search-wrap">
    <h1>Card selection</h1>
    
    
    <form action="/cards/mtg" method="get" class="search-form">
     <i class="fas fa-search"></i>
    <select name="name" class="fas fa-search">
        <option value="" class="search-wrap" >Please choose a card</option>
        <option name="The Kami War">The Kami War</option>
        <option name="Intrepid Adversary">Intrepid Adversary</option>
        <option name="Ao, the Dawn Sky">Ao, the Dawn Sky</option>
        
    </select>
      
      <input type="submit" value="Search">

    
    </form>
   
  </section>
</div>