<div class="card">
     <a5>Save the price of </a5>
     <br>
      <form action="/cards/save/{{price}}" method="post" >
         <input type="submit" name="id" value="{{name}}" />
        </form>
    <p>Price : {{price}}</p>
      

      
      </div>  